<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<beans:bean id="appUserDetailsService"
		class="br.com.sandubas.security.AppUserDetailsService" />

	<beans:bean id="loginFailureHandler"
		class="br.com.sandubas.security.LoginFailureHandler" />
		
	<beans:bean id="myAuthenticationSuccessHandler"
		class="br.com.sandubas.security.MySimpleUrlAuthenticationSuccessHandler" />

	<beans:bean name="customAccessDeniedHandler"
		class="br.com.sandubas.security.CustomAccessDeniedHandler" />

	<beans:bean id="characterEncodingFilter"
		class="org.springframework.web.filter.CharacterEncodingFilter">
		<beans:property name="encoding" value="utf-8" />
		<beans:property name="forceEncoding" value="true" />
	</beans:bean>


	<http pattern="/login.jsp" security="none" />
	<http pattern="/loginNovo.jsp" security="none" />
	
	<http pattern="/pages/mantertipoproduto/administrar.xhtml" security="none" />
	<http pattern="/pages/mantertipoproduto/modal/cadastroTipoProduto.xhtml" security="none" />
	<http pattern="/pages/manterclassificacaomercadoria/administrar.xhtml" security="none" />
	<http pattern="/pages/manterclassificacaomercadoria/modal/cadastroClassificacaoMercadoria.xhtml" security="none" />

	<http pattern="/javax.faces.resource/**" security="none" />
	<http pattern="/resources/**" security="none" />
	<http pattern="/primepush/**" security="none" />
	<http pattern="/aviso/**" security="none" />

	<http use-expressions="true">

		<access-denied-handler ref="customAccessDeniedHandler" />

		<intercept-url pattern="/pages/erro/**"
			access="hasRole('MANTER_CRUD_SIMPLES')" />

		<intercept-url pattern="/pages/manifestacao/manifestante/**"
			access="hasRole('MANTER_CRUD_SIMPLES')" />

		<!-- Manifestacao - Usuario interno logado -->
		
		<!-- USUARIO -->

		<intercept-url pattern="/pages/manterperfil/administrar.xhtml"
			access="hasRole('ATUALIZAR_MINHAS_INFORMACOES')" />

		<intercept-url pattern="/pages/manterperfil/modal/cadastroPerfil.xhtml"
			access="hasRole('ATUALIZAR_MINHAS_INFORMACOES')" />

		<intercept-url pattern="/pages/manterusuario/minhasInformacoes.xhtml"
			access="hasRole('ATUALIZAR_MINHAS_INFORMACOES')" />

		<intercept-url pattern="/pages/manterusuario/administrar.xhtml"
			access="hasRole('ATUALIZAR_MINHAS_INFORMACOES')" />

		<intercept-url pattern="/pages/manterusuario/modal/cadastroUsuario.xhtml"
			access="hasRole('ATUALIZAR_MINHAS_INFORMACOES')" />

		<intercept-url pattern="/pages/principal.xhtml"
			access="hasRole('MANTER_CRUD_SIMPLES')" />

		<intercept-url pattern="/**" access="denyAll" />

		<form-login login-page='/login.jsp' login-processing-url="/j_spring_security_check"
			authentication-failure-handler-ref="loginFailureHandler"
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />
		<logout logout-url="/j_spring_security_logout"
			logout-success-url="/login.jsp" invalidate-session="true" />

		<session-management>
			<concurrency-control max-sessions="3"
				expired-url="/login.jsp?logout=expired" />
		</session-management>

		<custom-filter ref="characterEncodingFilter" after="FIRST" />
	</http>
	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>